div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.bx-core-adm-dialog-content-wrap-inner img {
	float: left;
	margin-right:10px;
	width:115px;
	height:150px;
}
